[Unit]
Description=NFS Mamont file server
After=rpcbind.service network-online.target
Wants=rpcbind.service network-online.target
Conflicts=nfs-server.service nfs-ganesha.service

[Service]
Type=simple
RuntimeDirectory=nfs-mamont
StateDirectory=nfs-mamont
LogsDirectory=nfs-mamont
WorkingDirectory=/var/lib/nfs-mamont

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/local/bin/mirrorfs --config /etc/nfs-mamont/config.toml

[Service]
LimitNOFILE=131072

[Service]
Restart=on-failure
RestartSec=2
TimeoutStartSec=60